<html>
<head>
<title><%= title %></title>
</head>
<body>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/users/create">Novo Usuário</a></li>
</ul>
<% if flash[:notice] %>
 <p class="alert alert-success"><%= flash[:notice] %>
<% end %>
<% if flash[:error] %>
 <p class="alert alert-error"><%= flash[:error] %>
<% end %>
<%= yield %>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script>
    //** removes alerts after 4 seconds */
    window.setTimeout(function() {
        $(".alert").fadeTo(4500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000);
    </script>


</body>
</html>

